/* body{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100px;
    background: #efebe9;
}
.aside{
    width: 100%;
    height: 300px;
    background: #d7ccc8;
}
.section{
    overflow: hidden;
    width: 100%;
    background: #bcaaa4;
}
.section > div{
    width: 18%;
    height: 170px;
    background: #a1887f;
    margin: 1%;
}
.footer{
    width: 100%;
    height: 100px;
    background: #8d6e63;
} */
* {
    margin: 0;
    padding: 0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background: #efebe9;
}
article{
    width: 100%;
    height: 300px;
    background: #d7ccc8;
}
section{
    overflow: hidden;
    padding: 5%;
    width: 90%;
    background: #bcaaa4;
}
section > div {
    width: 18%;
    margin: 1%;
    height: 170px;
    background: #a1887f;
}
footer{
    width: 100%;
    height: 100px;
    background: #8d6e63;
}